body {
    margin: 0;
    font-family: 'Segoe UI', sans-serif;
    background-color: #f8fafc;
}

.navbar {
    background-color: #1e3a8a;
    padding: 15px 40px;
    display: flex;
    justify-content: space-between;
    color: white;
}

.navbar a {
    color: white;
    text-decoration: none;
    margin-left: 20px;
vertical-align: -21px;
}

.navbar a:hover {
    color: #3b82f6;
}

.hero {
    text-align: center;
    padding: 80px;
}

.hero h1 {
    color: #1e3a8a;
}

button {
    padding: 10px 20px;
    background-color: #3b82f6;
    border: none;
    color: white;
    border-radius: 8px;
    cursor: pointer;
}

button:hover {
    background-color: #1e3a8a;
}

.cards {
    display: flex;
    justify-content: center;
    gap: 30px;
    padding: 40px;
}

.card {
    background: white;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 4px 15px rgba(0,0,0,0.1);
    width: 250px;
    text-align: center;
    transition: 0.3s;
}

.card:hover {
    transform: translateY(-8px);
}

.form-container {
    width: 40%;
    margin: 40px auto;
    background: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

input {
    width: 100%;
    padding: 8px;
    margin: 8px 0 15px;
}

table {
    width: 90%;
    margin: 40px auto;
    border-collapse: collapse;
    background: white;
}

th {
    background-color: #1e3a8a;
    color: white;
}

th, td {
    padding: 12px;
    text-align: center;
}

.footer {
    background-color: #1e3a8a;
    color: white;
    text-align: center;
    padding: 20px;
    margin-top: 50px;
}
